html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: 14px Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f9f9f9;
	color: #3d3d3d;
	min-width: 230px;
	max-width: 500px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}

.app {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
}

.app input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.app input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.app input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.app h1 {
	position: absolute;
	top: -80px;
	width: 100%;
	font-size: 50px;
	font-weight: 100;
	text-align: left;
	color: #98CEF4;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}
.add-user label, .edit-user label {
  display: inline;
  color: #999;
}

.field-container {
  display: inline-block;
  width: 50%;
}

.add-user, .edit-user {
  padding: 10px;
}

.add-user input,
.edit-user input {
  display: block;
	margin: 2px;
	font-size: 18px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: black;
	padding: 6px;
	border: 1px solid #999;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.add-user button,
.edit-user button {
  margin: 2px;
  width: 100%;
  padding: 15px;
  font-size: 24px;
  background-color: #77C350;
  border: 1px solid #999;
}

.add-user {
	border: 1px solid #e6e6e6;
  border-top: none;
}

.main {
	position: relative;
	border: 1px solid #e6e6e6;
}

.list-filters {
  right: 0px;
  top: -30px;
  padding: 5px;
  position: absolute;
}

.user-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.user-list li:last-child {
	border-bottom: none;
}

.user-list li.editing .user-view {
	display: none;
}

.user-list li.selected {
  color: green;
}

.user-list li .actions {
  display: none;
}


.user-list li.selected .actions {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 40px;
  font-size: 24px;
}

.user-list li.editing .actions {
  display: none;
}

.user-list li .destroy {
  padding-left: 10px;
	color: #EB3B3B;
}

.user-list li .edit {
	color: #98CEF4;
}

.user-list li label {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	display: block;
  min-height: 32px;
	line-height: 1.2;
	transition: color 0.4s;
}

.user-list li .user-age {
  float: left;
  font-size: 100px;
  min-width: 120px;
  padding: 15px 15px 15px 15px;
  margin-left: 0px;
}

.user-list li .user-age label {
  position: absolute;
  bottom: 20px;
  left: 25px;
  font-size: 20px;
  color: #999;
}

.user-list li .user-address {
  width: 100%;
}

.user-list li.editing:last-child {
	margin-bottom: -1px;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}
